<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISEP Ginásio</title>
    <link rel="stylesheet" href="../../assets/fontawesome/all.min.css"> 
</head>
<!-- favicon -->
 <link rel="shortcut icon" href="../../assets/img/gym125.png" type="image/png">

 <!--folha de estilos css-->
 <link rel="stylesheet" href="../../includes/css/admin.css">

<body>
    <!--Navbar-->
    <header class="bng-navbar-menu">
        <div>
            <!--Logo e Nome -->
            <a href="../../index.html">
                <img src="../../assets/img/gym125_white.png" alt="Logo do ISEP Ginásio" height="50"> <!--alt é para descrever a imagem-->
            </a>
            <h3>ISEP Ginásio</h3>
        </div>
        <div>
            <button>Utilizador</button>
        </div>
    </header>
    <!--Sidebar-->
    <aside class="sidebar">
        <h4>Menu</h4>
        <nav>
            <a href="../clientes/lista.html">Clientes</a>
            <a href="../agendamento/agendamento.html">Agendamento de treinos</a>
            <a href="../plano_treino/plano_treino.html">Planos de treino</a>
            <a href="../equipamentos/equipamentos.html">Equipamentos</a>
            <a href="produtos_serviços.html">Produtos e Serviços</a>
        </nav>
    </aside>

    <!-- Conteúdo Principal-->
    <main class="content">
        <section>
            <h2>Preçário Interativo</h2>
            <p>Escolha o serviço e a frequência para ver o preço.</p>
        </section>
    </main>
    <div class="home-row">
        <div class="home-option text-center" onclick="selecionarServico('PT')">
            <h4>Treino Pers. (PT)</h4>
            <p>Clique para escolher</p>
        </div>
        <div class="home-option text-center" onclick="selecionarServico('AG')">
            <h4>Aulas de Grupo (AG)</h4>
            <p>Clique para escolher</p>
        </div>
    </div>

    <div id="opcoesPT" style="display:none;">

        <div class="home-row">
            <div class="home-option" onclick="mostrarPrecoPT(1)">1 vez/semana</div>
            <div class="home-option" onclick="mostrarPrecoPT(2)">2 vezes/semana</div>
            <div class="home-option" onclick="mostrarPrecoPT(3)">3 vezes/semana</div>
            <div class="home-option" onclick="mostrarPrecoPT(4)">4 vezes/semana</div>
        </div>
        <p id="resultadoPT" class="text-center"></p>
    </div>

    <div id="opcoesAG" style="display:none;">

        <div class="home-row">
            <div class="home-option" onclick="mostrarPrecoAG(1)">1 vez/semana</div>
            <div class="home-option" onclick="mostrarPrecoAG(2)">2 vezes/semana</div>
            <div class="home-option" onclick="mostrarPrecoAG('Livre')">Livre</div>
        </div>
        <p id="resultadoAG" class="text-center"></p>
    </div> 
    <script src="../../includes/js/funcoes.js"></script>
</body>
</html>