<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISEP Ginásio</title>
    <link rel="stylesheet" href="../../assets/fontawesome/all.min.css"> 
</head>
<!-- favicon -->
 <link rel="shortcut icon" href="../../assets/img/gym125.png" type="image/png">

 <!--folha de estilos css-->
 <link rel="stylesheet" href="../../includes/css/admin.css">

<body>
    <!--Navbar-->
    <header class="bng-navbar-menu">
        <div>
            <!--Logo e Nome -->
            <a href="../../index.html">
                <img src="../../assets/img/gym125_white.png" alt="Logo do ISEP Ginásio" height="50"> <!--alt é para descrever a imagem-->
            </a>
            <h3>ISEP Ginásio</h3>
        </div>
        <div>
            <button>Utilizador</button>
        </div>
    </header>
    <!--Sidebar-->
    <aside class="sidebar">
        <h4>Menu</h4>
        <nav>
            <a href="../clientes/lista.html">Clientes</a>
            <a href="../agendamento/agendamento.html">Agendamento de treinos</a>
            <a href="../plano_treino/plano_treino.html">Planos de treino</a>
            <a href="../equipamentos/equipamentos.html">Equipamentos</a>
            <a href="produtos_serviços.html">Produtos e Serviços</a>
        </nav>
    </aside>

    <!-- Conteúdo Principal-->
    <main class="content">
        <section>
            <h2>Serviços</h2>
            <p>Escolhe uma opção no menu para continuar</p>
        </section>
    </main>
    <div class="home-wrapper">
        <div class="home-row">
            <a href="calculoIMC.html" class="unlink">
                <div class="home-option">
                    <h3><i class="fa-solid fa-users"></i></h3>
                        <p>Calculo de IMC</p>
                </div>
            </a>

            <a href="encaminhamento.html" class="unlink">
                <div class="home-option">
                    <h3><i class="fa-solid fa-user-plus"></i></h3>
                    <p>Avaliação</p>
                </div>
            </a>

            <a href="precario.html" class="unlink">
                <div class="home-option">
                    <h3><i class="fa-solid fa-chart-column"></i></h3>
                    <p>Preçario</p>
                </div>
            </a>
        </div>
        <div class="home-row">
            <a href="#" class="unlink">
                <div class="home-option">
                    <h3><i class="fa-solid fa-upload"></i></h3>
                    <p>Contratos</p>
                </div>
            </a>

            <a href="#" class="unlink">
                <div class="home-option">
                    <h3><i class="fa-solid fa-users"></i></h3>
                    <p>Funcionalidade</p>
                </div>
            </a>

            <a href="#" class="unlink">
                <div class="home-option">
                    <h3><i class="fa-solid fa-user-gear"></i></h3>
                    <p>Funcionalidade</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>